<!DOCTYPE html>
<html>
  <head>
    <title>UnifyID</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>    
  </head>
  <body>
    <div id='app'>
      <script src='dist/bundle.js'></script>
    </div>
  </body>
</html>